body {
  font-family: 'Outfit', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d4dce6;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 20px 30px 50px rgba(100, 198, 255, 0.2);
}

.image {
  display: flex;
  padding-top: 15px;
  justify-content: center;
}

.image img {
  width: 300px;
  border-radius: 20px;
}

.text {
  padding: 1.5rem 2rem;
  text-align: center;
}

.text h1 {
  color: #1c2237;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.text p {
  color: #6e8098;
  font-size: 0, 9375rem;
  font-weight: 400;
}

.attribution {
  color: #1c2237;
  text-align: center;
  padding-top: 3rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.attribution a {
  text-decoration: none;
  color: #6e8098;
}

.attribution a:hover {
  color: #2c7dfa;
}

@media (max-width: 25rem) {
  .container {
    width: 300px;
  }
  .image img {
    width: 270px;
  }
  .text h1 {
    font-size: 1.2rem;
  }
  .text p {
    font-size: 0.8rem;
  }
  .attribution {
    font-size: 0.7rem;
  }
}
